<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page </title>
</head>
<body>
    <p>Register page </p>
    <form method="POST" action="/user/register">
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" placeholder="Insert your username">
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" placeholder="Insert your password">
        <br>
        <button type="submit">Register</button>
    </form>
    <a href="/user/login"> Login Page </a>
</body>
</html>